.container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 60%; 
  background-color: var(--green-500);
  align-items: center;
  justify-content: center;
}

.logo {
  margin-bottom: 44px;
  width: 550px;
}

.logo img{
  width: 22px;
  height: 26px;
  margin-bottom: 5px;
}

.logo h1 {
  color: #FFF;
}

